.thread-row {
    width: 37%;
    display: flex;
    flex-direction: column;
    margin: 1% 5% 1% 17%;
}

.thread-row:hover {
    border: 1px solid blue;
}

.thread-header-text {
    color: darkblue;
}

.thread-body-text {
    color: black;
}

a:hover {
    font-weight: normal;
}

.thread-link {
    border: 1px solid red;
}