.cat-header {
    padding-left: 4%;
}

.thread-container {
    /* border: 1px solid blue; */
    margin: 20px auto 0 50px;
    min-width: 320px;
    max-width: 450px;
}

.thread-row {
    width: 100%;
}

.column-holder {
    width: 96%;
}