.threadform-container {
    padding: 1% 0 1% 4%;

}

#threadform {
    display: flex;
    flex-direction: column;
    min-width: 100px;
}

.errors-container {
    color: red;
    display: flex;
    flex-direction: column;
}

.anerror {
    padding: 1% 0 1% 4%;
    color: red;
}

.threadcreatebtn {
    all: none;
    border: 2px solid blue;
    background-color: lightgrey;
    border-radius: 5%;
    margin: 1% 0 1% 4%;
}



