nav {
    font-family: 'Open Sans', sans-serif;
    top: 0;
    left: 0;
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: #121110;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: whitesmoke;
    font-size: 14px;
    height: 50px;
}

.home {
    display: flex;
    align-items: center;

}

a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color: whitesmoke;
}

a:hover {
    font-weight: bold;
}

button {
    border: none;
    color: inherit;
    background: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

button:hover {
    font-weight: bold;
    cursor: pointer;
}

.site-options {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    column-gap: 42px;
    margin-left: 32px;
    margin: 0px;
    padding: 0px;
    align-items: center;
}

.user-options {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    margin-right: 32px;
}

.login-signup {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.login-signup>li {
    margin-left: 3px;
    margin-right: 3px;
}

.logged-in {
    margin-left: 8px;
}

.fas {
    color: whitesmoke;
}

.logo {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
.logo:hover {
    animation-name: bounce;
}

@keyframes bounce {
    0%, 100%, 20%, 50%, 80% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0)
    }

    40% {
        -webkit-transform: translateY(-8px);
        -ms-transform: translateY(-8px);
        transform: translateY(-8px)
    }

    60% {
        -webkit-transform: translateY(-4px);
        -ms-transform: translateY(-4px);
        transform: translateY(-4px)
    }
}